<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title> <!--Always be sure add a title to pages ðŸ˜-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Orbitron|Oswald|Righteous" rel="stylesheet">
    </head>
    <body>
        <nav>
          <a href="/">Home</a>
          <a href="/aboutus">About Us</a>
          <a href="/destinations">Destinations</a>
          <a href="/auth/new">New Trip</a> 
          <a href="/auth/<%= id %>">My trips</a> 
          
          <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

          <% }else { %>
            <a href="/auth/login">Login</a>
          <% } %>
        </nav>
        <div>
           Edit Your account <br>
          <form method="POST" action="/auth/<%= user._id %>?_method=PUT">
            <small><%= usedUsername %></small>
            Name: <input type="text" name="name" value="<%= user.name %>"> <br>
            Email: <input type="text" name="email" value="<%= user.email %>"> <br>
            Username: <input type="text" name="username" value="<%= user.username %>"> <br>
            Password: <input type="password" name="password"> <br>
            <input type="submit" value="Save Changes">
            <br>
            <a href="/">Home</a><br>
            <a href="/auth/<%= user.id %>">Nevermind</a>
          </form>
        </div>
         
      
    
    </body>
</html>