<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>

         
    <h1>My trips</h1>

    <nav>

        <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

        <% }else { %>
          <a href="/auth/login">Login</a>
        <% } %>
         <a href="/">Home</a>
         <a href="/auth/new">New trip</a> 
         <a href="/destinations">Our Destinations</a> 

         <a href="/aboutus">About Us</a>
      </nav>
     
      <div id="curentTrip">
      <% for (let i = 0; i < user.trips.length; i++) { %>
       <% if (user.currentTrip === i) { %>
      <h4> Trip  <%= i + 1 %> of <%= user.trips.length %></h4>
     <% }}  %>
        <h6>Destination: <%= user.trips[currentTrip].destination[0].name %></h6>
        <h6>Number of Tickets: <%= user.trips[currentTrip].ticketQty %></h6>
       
      </div>
      <% if(user.currentTrip > 0) { %>
<a href="/auth/<%= user._id %>/0">Previous trip</a>
<% } %>
<a href="/auth/<%= user._id %>/1">Next trip</a>
<a href="/auth/<%= user._id %>/edit">Edit trip</a>

<form method="POST" action="/auth/<%= user._id %>?_method=DELETE">

  <input type="submit" value="Cancel Trip">
</form>
    </body>
</html>