<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Orbitron|Oswald|Righteous" rel="stylesheet">
    </head>
    <body>

         
    <h1>My Trips</h1>
    <section>
      <nav>
      <a href="/">Home</a>
      <a href="/aboutus">About Us</a>
      <% if (oAuth === false){ %>
      <a href="/auth/<%= user.id %>/edit">Edit User</a>
      <% } %>
      <a href="/">Home</a>
      <% if (user.trips.length > 0) { %>
      <a href="/auth/new">New trip</a>
        <% } %>
      <a href="/destinations">Destinations</a> 
      <% if(logged === true){ %>
      <a href="/auth/logout">Logout</a>
        <% }else { %>
      <a href="/auth/login">Login</a>
        <% } %>
    </nav>
    </section>
    
     
         <h3>Current Location: <em><%= user.currentDestination %></em></h3>
          <img src="<%= destination.image %>" alt="the planet your on: <%= user.currentDestination %>">
       

      
      <% if (user.trips.length === 0) { %>
       <p>Hey! You haven't booked any trips if you'd like to book a trip <a href="/auth/new">click Here!</a></p>
     <% } %>
      <% for (let i = 0; i < user.trips.length; i++) { %>
     <span id="currenttrip">
      
      <h4> Trip  <%= i + 1 %> of <%= user.trips.length %></h4>
        <h6><strong class="stats">From:</strong> <%= user.trips[i].fromDestination[0].name %></h6>
        <h6><strong class="stats">To:</strong> <%= user.trips[i].toDestination[0].name %></h6>
        <h6><strong class="stats">Tickets:</strong> <%= user.trips[i].ticketQty %></h6>
        <h6><strong class="stats">Checked Bags:</strong> <%= user.trips[i].luggageQty %></h6>
        <h6><strong class="stats">Price:</strong> <em class= "price"><%=user.trips[i].toDestination[0].priceInUSD * user.trips[i].ticketQty%></em> USD</h6>
      
 <% if(user.trips[i].fromDestination[0].name === user.currentDestination){ %>


       
       <form method="POST" action="/auth/travel">
         <input type="hidden" name="theId" value="<%= user._id %>">
         <input type="hidden" name="tripName" value="<%= user.trips[i].toDestination[0].name %>">
         <input type="hidden" name="tripId" value="<%= user.trips[i]._id %>">

         <input type="submit" value="Take Trip">
       </form>
       <% } %>
      <form method="POST" action="/auth/<%= user.trips[i]._id %>?_method=DELETE">
        <input type="hidden" value="<%=user._id%>" name="userId">
        <input id="cancel" type="submit" value="Cancel Trip">
      </form>
     
      </span>
  <% }  %>

    </body>
</html>