<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=destinations.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Orbitron|Oswald|Righteous" rel="stylesheet">
  </head>
  <body>
     <header>
      <h1>   G.I.T.S</h1>
    </header>
    <h2>Galactic Interplanetary Travel Systems</h2>
     <section>
        <nav>
        <a href="/">Home</a>          
        <a href="/aboutus">About Us</a>
        <a href="/destinations">Destinations</a>
        <a href="/auth/<%= id %>">My trips</a>
        <a href="/auth/new">New trip</a>
        <% if(logged === true){ %>
        <a href="/auth/logout">Logout</a>
        <% }else { %>
        <a href="/auth/login">Login</a>
        <% } %>
        <a href="/destinations">Back</a>
      </nav>
     </section>
    
    <main>
      <h3 class="planet"><%=destinations.name%></h3>

        <img src="<%=destinations.image%>" alt="Destination Image">

      <h4>Information</h4>
      
        <li><strong class="stats">Distance from Earth</strong>: <%=destinations.avgDistanceInKm%> km</li> <br>
        <li><strong class="stats">Travel time from Earth</strong>: <%=destinations.travelTimeInHrs%> hours</li> <br>
        <li><strong class="stats">Price</strong>: <em class="price"><%=destinations.priceInUSD%></em> USD</li> <br>
        <li><strong class="stats">Day Length</strong>: <%=destinations.lengthOfDayInHrs%> hours</li> <br>
        <li><strong class="stats">Radius</strong>: <%=destinations.radiusInKm%> km</li><br>
        <li><strong class="stats">Gravity</strong>: <%=destinations.gravity%> </li> <br>
        <li><strong class="stats">Escape Velocity</strong>: <%=destinations.escapeVelocity%> </li> <br>
        <li><strong class="stats">Mass</strong>: <%=destinations.massInKg%> kg</li> <br>
        <li><strong class="stats">Density</strong>: <%=destinations.density%> </li> <br>
      
      <br>
      <li><strong class="stats">Ship</strong>:</li>
      <!-- <li><%=destinations.ships.name%></li> -->
      <img src="<%=destinations.ships%>" alt="Ship Image">
      
    </main>
    <footer>
        <h5>Copyright 2018 Galactic Interplanetary Travel Systems</h5>
    </footer>
  </body>
</html>
