<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=destinations.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <section>
      <nav>
      <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

        <% }else { %>
          <a href="/auth/login">Login</a>
        <% } %>
        <a href="/">Home</a>
         <a href="/auth/new">New trip</a> 
         <a href="/aboutus">About Us</a>
         <a href="/destinations">Back</a>
      </nav>
    
    <main>
      <h1><%=destinations.name%></h1>

        <img src="<%=destinations.image%>" alt="Destination Image">

      <h4>Information</h4>
      
        <li>Distance: <%=destinations.avgDistanceInKm%> km</li> <br>
        <li>Travel time: <%=destinations.travelTimeInHrs%> hours</li> <br>
        <li>Price: <%=destinations.priceInUSD%> USD</li> <br>
        <li>Day Length: <%=destinations.lengthOfDayInHrs%> hours</li> <br>
        <li>Radius: <%=destinations.radiusInKm%> km</li> <br>
        <li>Gravity: <%=destinations.gravity%> m/s²</li> <br>
        <li>Escape Velocity: <%=destinations.escapeVelocity%> km/s</li> <br>
        <li>Mass: <%=destinations.massInKg%> kg</li> <br>
        <li>Density: <%=destinations.density%> g/cm³</li> <br>
      
      <br>
      <img src="<%=destinations.ships%>" alt="Ship Image">
      
    </main>
  </body>
</html>
