<!DOCTYPE html>
<html>
<head>
  <title>Book A Trip</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Righteous" rel="stylesheet">
</head>
<body>
    <section>
      <nav>
        <a href="/">Home</a>
        <a href="/destinations">Destinations</a>
        <a href="/aboutus">About Us</a> 
         <a href="/auth/logout">Logout</a> 
        <br>
      </nav>
    </section>
  <h1>Plan A Trip!</h1>
  <br>
    <div>
       <form action="/auth" method="POST">
      Passenger Name: <input type="text" name="name"><br>
      From: <select name="fromDestinationId">
        <%for (let i = 0; i < destinations.length; i++){ %>
            <option value="<%=destinations[i]._id%>"><%=destinations[i].name%></option>
        <%}%>
        </select><br>
      To: <select name="toDestinationId">
        <%for (let i = 0; i < destinations.length; i++){ %>
            <option value="<%=destinations[i]._id%>"><%=destinations[i].name%></option>
        <%}%>
        </select><br>
      Tickets: <input type="number" name="ticketQty"><br>
      Bag Count: <input type="number" name="luggageQty"><br>
      <button type="submit">Confirm Flight</button>
    </form>
    <a id="smaller" href="/auth/<%= user.id %>">Nevermind</a>
    </div>
   
  

</body>
</html>
